/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
// FullCalendar
// @import '~@fullcalendar/core/main.css';
// @import '~@fullcalendar/daygrid/main.css';

@import 'helpers/reset';
@import 'helpers/variables';
@import 'helpers/colors';
@import 'helpers/font';
@import 'helpers/shadow';
@import 'helpers/border';
@import 'helpers/align';
@import 'layout/side';
@import 'layout/header';
@import 'components/scroll';
@import 'components/notification';
@import 'components/avatar';
@import 'components/dropdown';
@import 'components/progressbar';
@import 'components/dataview';
@import 'components/fullcalendar';
@import 'components/calender';
@import 'components/alert';
@import 'pages/dashboard';
@import 'pages/modules';
@import 'pages/student';

*{
  font-family: $fontFamily ;
  font-weight: 400;
  // border: 1px solid red;
}
.font-weight-bold{
  font-weight: bold !important;
}
