.stat {
  border-radius: 10px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);

  &-icon {
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    i{
      line-height: 50px;
      font-size: 30px;
    }
  }
}
