<section class="student-info">
  <div class="container-fluid">
    <div class="row">
      <!-- Student Data -->
      <div class="col-lg-6 mb-4">
        <div class="card custom-br custom-shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col-md-5 text-center">
                <div class="student-icon mx-auto py-3 custom-br">
                  <img
                    [src]="(student?.photo == '')? imageSrc: student?.photo"
                    alt=""
                    class="img-fluid custom-shadow d-block mx-auto"
                  />
                </div>
                <div class="student-name">
                  <h6>
                    <a href="" class="text-dark font-weight-bold">{{
                      student?.firstname
                    }} {{student?.parent.first_name}} {{student?.parent.last_name}}</a>
                  </h6>
                  <p class="text-secondary fs-6">{{ student?.stage.stage }}</p>
                </div>
                <div class="student-attendance">
                  <div class="row px-3">
                    <div class="col-1 px-0">
                      <i class="far fa-clock"></i>
                    </div>
                    <div class="col-9 px-0 align-self-center">
                      <p-progressBar
                        [value]="(student?.absence_students[0].attendance + +student?.absence_students[0].absence_day) "
                        [showValue]="false"
                      ></p-progressBar>
                    </div>
                    <div class="col-2 px-0">
                      <span
                        [ngClass]="{
                          'float-end': lang == 'ltr',
                          'float-start': lang == 'rtl'
                        }"
                        >{{ (student?.absence_students[0].attendance + +student?.absence_students[0].absence_day)}} %</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="student-info">
                  <div class="row">
                    <div class="col-6">
                      <span class="label">{{
                        "students.info.gender" | translate
                      }}</span>
                      <p class="px-3 mb-0">
                        <i
                          class="fas gender d-inline-block pt-2"
                          [ngClass]="{
                            'fa-male': student?.gender == 'male',
                            'fa-female': student?.gender != 'male'
                          }"
                        ></i>
                      </p>
                    </div>
                    <div class="col-6">
                      <span class="label">{{
                        "students.info.birthDate" | translate
                      }}</span>
                      <p>{{ (student?.birthdate)?student?.birthdate:'students.info.noBirthdateMessage' | translate}}</p>
                    </div>
                    <div class="col-6">
                      <span class="label">{{
                        "students.info.phone" | translate
                      }}</span>
                      <p>{{ (student?.phone)?student?.phone:'students.info.noPhoneMessage' | translate}}</p>
                    </div>
                    <div class="col-6">
                      <span class="label">{{
                        "students.info.address" | translate
                      }}</span>
                      <p>{{ (student?.address)?student?.address:'students.info.noAddressMessage' | translate }}</p>
                    </div>
                    <div class="col-6">
                      <span class="label">{{
                        "students.info.mothername" | translate
                      }}</span>

                      <p>{{ (student?.mothername)?student?.mothername+' '+student.motherfathername :'students.info.noMothernameMessage' | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Student Data -->

      <!-- Student Files -->
      <div class="col-lg-3 mb-4">
        <div class="card custom-br custom-shadow border-0">
          <div class="card-body">
            <h6 class="font-weight-bold mb-3">
              <span class="font-weight-bold">{{
                "students.attachments.title" | translate
              }}</span>
              <button
                (click)="opendialog('addAttachment')"
                class="text-primary border-0 bg-transparent"
                [ngClass]="{
                  'float-end': lang == 'ltr',
                  'float-start': lang == 'rtl'
                }"
              >
                <i class="fas fa-file-medical px-2"></i
                >{{ "students.attachments.btnLabel" | translate }}
              </button>
            </h6>
            <p-scrollPanel [style]="{ width: '100%', height: '270px' }">
              <div class="files">
                <ng-container *ngIf="student?.student_attachments.length >0;else noFiles">
                  <div class="card file border-0 mb-2 postion-relative" *ngFor="let studentAttachment of student?.student_attachments">
                    <div class="card-body p-2 py-0">
                      <div class="row">
                        <div class="col-2">
                          <div class="file-icon text-center">
                            <i class="far fa-file-alt"></i>
                          </div>
                        </div>
                        <div class="col-10">
                          <div class="file-info">
                            <span>{{studentAttachment.notes}}</span>
                            <!-- <span
                              class="text-grey-color file-size"
                              [ngClass]="{
                                'float-end': lang != 'rtl',
                                'float-start': lang == 'rtl'
                              }"
                              >10kb</span
                            > -->
                          </div>
                          <div
                            class="file-proccess position-absolute"
                            [ngClass]="{ 'file-proccess-rtl': lang == 'rtl' }"
                          >
                            <a class="p-1 m-1" dropdown="1643827198656419380.png"  [href]="'https://madares.codesroots.com/library/studentattachment/'+studentAttachment.photo" download>
                              <i class="pi pi-download"></i>
                            </a>
                            <button
                              class="p-1 m-1 text-secondary"
                              (click)="opendialog('editAttachment')"
                            >
                              <i class="pi pi-pencil"></i>
                            </button>
                            <button
                              class="p-1 m-1 text-danger"
                              (click)="opendialog('deleteAttachment')"
                            >
                              <i class="pi pi-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #noFiles>
                  <div class="h-100 d-flex justify-content-center align-items-center">
                    <div class="text-darkgrey-color text-center">
                      <i class="far fa-file-alt fs-1"></i>
                      <p>{{'students.attachments.empty' | translate}}</p>
                    </div>
                  </div>
                </ng-template>


                <!-- File -->
                <!-- <ng-container *ngIf="files.length;else noFiles">
                  <div class="card file border-0 mb-2 postion-relative" *ngFor="let file of files">
                    <div class="card-body p-2 py-0">
                      <div class="row">
                        <div class="col-2">
                          <div class="file-icon text-center">
                            <i class="far fa-file-alt"></i>
                          </div>
                        </div>
                        <div class="col-10">
                          <div class="file-info">
                            <span>شهاده ميلاد.png</span>
                            <span class="text-grey-color file-size" [ngClass]="{'float-end':lang != 'rtl','float-start':lang == 'rtl'}"
                              >10kb</span
                            >
                          </div>
                          <div class="file-proccess position-absolute" [ngClass]="{'file-proccess-rtl':lang == 'rtl'}">
                            <button class="p-1 m-1">
                              <i class="pi pi-download"></i>
                            </button>
                            <button class="p-1 m-1 text-secondary">
                              <i class="pi pi-pencil"></i>
                            </button>
                            <button class="p-1 m-1 text-danger">
                              <i class="pi pi-trash"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #noFiles>
                  <div class="h-100 d-flex justify-content-center align-items-center">
                    <div class="text-darkgrey-color text-center">
                      <i class="far fa-file-alt fs-1"></i>
                      <p>{{'students.attachments.empty' | translate}}</p>
                    </div>
                  </div>
                </ng-template> -->

                <!-- ./File -->
              </div>
            </p-scrollPanel>
          </div>
        </div>
      </div>
      <!-- ./Student Files -->

      <!-- Student Transactions -->
      <div class="col-lg-3 mb-4">
        <div class="card custom-br custom-shadow border-0 payment">
          <div class="card-body">
            <h6 class="overflow-hidden">
              <span class="font-weight-bold">{{
                "students.payments.title" | translate
              }}</span>
              <button
                class="text-primary border-0 bg-transparent"
                [ngClass]="{
                  'float-end': lang == 'ltr',
                  'float-start': lang == 'rtl'
                }"
                (click)="opendialog('addPayment')"
              >
                <i class="pi pi-credit-card px-2"></i>
                {{ "students.payments.btnLabel" | translate }}
              </button>
            </h6>
            <h6 class="total text-secondary">
              <span class="font-weight-bold">Transaction </span>
              <span
                class="font-weight-bold"
                [ngClass]="{
                  'float-end': lang == 'ltr',
                  'float-start': lang == 'rtl'
                }"
                >Amount</span
              >
            </h6>
            <p-scrollPanel [style]="{ width: '100%', height: '211px' }">
              <table class="w-100 mb-1">
                <tbody>
                  <tr>
                    <td>دفعة مصاريف 1</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 2000 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 2</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 1000 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 3</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 500 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 4</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 400 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 5</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 100 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 5</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 100 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 5</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 100 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 5</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 100 | number }} S.R</td>
                  </tr>
                </tbody>
              </table>
            </p-scrollPanel>

            <h6 class="total py-2">
              <span class="font-weight-bold text-secondary">total : </span>
              <span
                [ngClass]="{
                  'float-end': lang == 'ltr',
                  'float-start': lang == 'rtl'
                }"
                >{{ 4000 | number }} S.R</span
              >
            </h6>
            <ng-template #noTransaction>
              <div
                class="h-100 d-flex justify-content-center align-items-center"
              >
                <div class="text-darkgrey-color text-center">
                  <i class="pi pi-credit-card fs-1"></i>
                  <p>
                    {{ "students.payments.btnLabel" | translate }} {{ title }}
                  </p>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- ./Student Transactions -->

      <!-- ./Student Calendar -->
      <div class="col-lg-6">
        <div class="card custom-br custom-shadow border-0">
          <div class="card-body">
            <h6 class="font-weight-bold mb-0">Calendar</h6>
            <full-calendar [options]="calendarOptions"></full-calendar>
          </div>
        </div>
      </div>
      <!-- ./Student Calendar -->

      <!-- Student grades -->
      <div class="col-lg-6">
        <div class="card custom-br custom-shadow border-0">
          <div class="card-body">
            <h6 class="overflow-hidden mb-3">
              <span class="font-weight-bold">Exams Score</span>
              <span
                class="text-primary"
                [ngClass]="{
                  'float-end': lang == 'ltr',
                  'float-start': lang == 'rtl'
                }"
                ><i class="pi pi-credit-card"></i> Add Exam Score</span
              >
            </h6>
            <p-table [value]="examScore">
              <ng-template pTemplate="header">
                <tr>
                  <th>Exam name</th>
                  <th>Stage</th>
                  <th>Date</th>
                  <th>Score</th>
                  <th>Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-exam>
                <tr>
                  <td>{{ exam.name }}</td>
                  <td>{{ exam.stage }}</td>
                  <td>{{ exam.date }}</td>
                  <td>{{ exam.score }}/{{exam.total}}</td>
                  <td><span class="alert" [ngClass]="{'alert-success':exam.status == 1,'alert-danger':exam.status == 2}">
                    {{(exam.status == 1)?'Success':'Fail'}}
                  </span></td>
                </tr>
              </ng-template>
            </p-table>
            <!-- <p-scrollPanel [style]="{ width: '100%', height: '211px' }">
              <table class="w-100 mb-1">
                <tbody>
                  <tr>
                    <td>دفعة مصاريف 1</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 2000 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 2</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 1000 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 3</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 500 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 4</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 400 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 5</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 100 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 5</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 100 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 5</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 100 | number }} S.R</td>
                  </tr>
                  <tr>
                    <td>دفعة مصاريف 5</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td class="text-end">{{ 100 | number }} S.R</td>
                  </tr>
                </tbody>
              </table>
            </p-scrollPanel> -->


          </div>
        </div>
      </div>
      <!-- ./Student grades -->
    </div>
  </div>
</section>

<!-- Dialog -->
<app-dialog
  [display]="display"
  [dialogHeader]="title | translate"
  [width]="dialogType == 'deleteAttachment' ? '30vw' : '50vw'"
  [titleColor]="dialogType == 'deleteAttachment' ? '#ff6666' : ''"
>
  <ng-container *ngIf="dialogType == 'addAttachment'">
    <app-addattachment></app-addattachment>
  </ng-container>
  <ng-container *ngIf="dialogType == 'editAttachment'">
    <app-editattachment></app-editattachment>
  </ng-container>
  <ng-container *ngIf="dialogType == 'deleteAttachment'">
    <app-deleteattachment></app-deleteattachment>
  </ng-container>
  <ng-container *ngIf="dialogType == 'addPayment'">
    <app-addpayment></app-addpayment>
  </ng-container>
</app-dialog>
<!-- ./Dialog -->
