<div class="card stat border-0 py-4 custom-br custom-shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-4 align-self-center">
        <div class="stat-icon custom-br custom-shadow" [ngStyle]="{background:stat?.color+'53'}">
          <i [class]="stat.icon" [ngStyle]="{color:stat?.color}"></i>
        </div>
      </div>
      <div class="col-8">
        <p class="h3 font-weight-bold">{{stat.value | number}}</p>
        <span class="text-darkgrey-color ">{{stat.title}}</span>
      </div>
    </div>
  </div>
</div>

