$colors:('gold':$goldColor,'grey':$greyColor,'light':$lightColor,'blue':$blueColor,'darkgrey':$darkgreyColor);

// Colors For text & background
@each $name,$color in $colors {
    .text-#{$name}-color{
        color: $color !important;
    }
    .bg-#{$name}-color{
        background: $color !important;
    }
    .bg-gradient-#{$name}-color{
      background: linear-gradient(to right ,darken($color,.5),lighten($color,1));
    }
}
.bg-gradient-gold{
  background: linear-gradient(to right,#fec6a2,#ff828d);
}
